/* @font-face {
  font-family: ;
  src: url();
} */








.full-grid-1{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(5, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
.full-grid-2{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(5, 1fr) ;
  grid-template-rows: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
.full-grid-3{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 10px repeat(5, 1fr) ;
  grid-template-rows: repeat(12, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
.full-grid-4{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(5, 1fr) ;
  grid-template-rows: repeat(16, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
.hero-section{
  background-image: url("./assets/header-food.jpeg");
  max-width: 100vw;
  margin: 100vh, auto, 0, auto;

  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;

  
  grid-column-start: 1;
  grid-column-end: 6;
  
  grid-row-start: 1;
  grid-row-end: 4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
  
  height: 100vh;
}
.home-banner {
  width: auto;
  height: auto;
  object-fit: fill;
}


.full-back{
  background-color: #FBF3DA;
}
.streamerBTW {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#d0ff95;
  position: fixed;
  top: 0;
  height: 52;
  width: 100vw;
}

.buttonBTW {
  float: left;
}
.logo-buttonBTW{
  float: left;
}

.buttonlnkBTW {
  display: flex;
  align-items: center;
  padding: 0 0px;
  height: 100%;
  text-decoration: none;
  color: black;
}



.logoBTW {
  height: 32px;
  width: auto;
  margin-right: 8px;
}

.logo-text{
  float: right;
  font-size: 16;
  font-weight: bolder;
  color: #272D2D;
}
.logo-link{
  display: flex;
  align-items: left;
}


.buttonBTW a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
.logo-buttonBTW a{
  display: block;
  color: black;
  text-align: center;
  padding:8px 16px;
  text-decoration: none;
}

.buttonBTW a:hover:not(.active) {
  background-color: #80fbff;
}
.logo-buttonBTW a:hover:not(.active) {
  background-color: #80fbff;
}

.active {
  background-color: #80fbff;
}
.hero-yap{
  font-size: 50;
  color: whitesmoke;
  font-weight: bolder;
}
.center-hero-yap{
  display: flex;
  justify-content: center;
  align-items: center; /*272D2D*/
  background-color: rgba(39, 46, 46, 0.5);
  border-radius: 20px;
  padding: 10px;
}
.brush-script{
  font-family:'Brush Script MT';
}

.half-grid-wrapper{
  display: flex;
  width: 99%;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: 6;

  grid-row-start: 5;
  grid-row-end: 7;
  
  padding: 1% 0px 1% 1%;
  background-color: #FADF7F;
}
.half-grid{
  display: grid;
  
  grid-template-columns: repeat(5, 1fr) ;
  
  width: 100%;
  height: auto;
  column-gap: 10px;
  row-gap: 1em;
}
.half-bar-card-1{
  height: auto;
  text-align: left;
  max-width: 15vw;
  max-height: 75%;
  background-color: #E0E0E0;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  border-radius: 10px;
}
.half-bar-card-2{
  height: auto;
  text-align: left;
  max-width: 15vw;
  max-height: 75%;
  background-color: #E0E0E0;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 10px;
}
.half-bar-card-3{
  height: auto;
  text-align: left;
  max-width: 15vw;
  max-height: 75%;
  background-color: #E0E0E0;
  grid-column-start: 3;
  grid-column-end: 4;
  border-radius: 10px;
}
.half-bar-card-4{
  height: auto;
  text-align: left;
  max-width: 15vw;
  max-height: 75%;
  background-color: #E0E0E0;
  grid-column-start:4;
  grid-column-end:5;
  border-radius: 10px;
}
.half-bar-card-5{
  height: auto;
  text-align: left;
  max-width: 15vw;
  max-height: 75%;
  background-color: #E0E0E0;
  border-radius: 10px;
  grid-column-start:5;
  grid-column-end:6;
}
.half-bar-card-title{
  margin:auto;
  width: 50%;
}
.about-us-home{
  grid-row-start:4;
  grid-row-end:5;
  
  grid-column-start:1 ;
  grid-column-end:6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
}
.text-rect{
  background-color: #eac977;
  border-radius: 10px;
  display: flex;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 7;
}
h1.text-rect-title{
  font-size: 30;
  font-weight: bolder;
  color: #272D2D;
}
.about-us-home-title{
  font-size: 30;
  font-weight: bolder;
  color: #272D2D;
}